<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010654490093-c194kn0jkv631gcac1fiha49ihj7vd7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010654490093-c194kn0jkv631gcac1fiha49ihj7vd7m</string>
	<key>API_KEY</key>
	<string>AIzaSyA8j6RNpzx7duC-sT3qT1tHUnobM866D30</string>
	<key>GCM_SENDER_ID</key>
	<string>1010654490093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codino.crafts</string>
	<key>PROJECT_ID</key>
	<string>craftapp-ccfff</string>
	<key>STORAGE_BUCKET</key>
	<string>craftapp-ccfff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010654490093:ios:4c4005ef002a580fb84be4</string>
</dict>
</plist>